.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 465px;
  height: 45px;
  background: white;
  padding: 16px;
  margin-bottom: 14px;
  border-radius: 24px;
}

.checkboxWrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  opacity: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  z-index: 2; 
}

.customCheckbox {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 2px solid #000;
  display: inline-block;
  transition: 0.2s;
}

.checkbox:checked + .customCheckbox {
  background-color: #000;
  border-color: #000;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #111;
  padding-left: 10px;
}

.right {
  display: flex;
  align-items: center;
  gap: 0px;
}

.iconButton {
  color: #6366f1;
  cursor: pointer;
  background: none;
  border: none;
  padding: 4px;
  transition: transform 0.15s ease;
}

.iconButton:hover {
  transform: scale(1.1);
}

.deleteIcon {
  width: 34px;
  height: 34px;
}

.editIcon {
  width: 34px;
  height: 34px;
}