.container {
    background-color: #6871EE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.input {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 24px;
    background-color: #6871EE;
    width: 284px;
    padding: 16px 8px;
    font-size: 16px;
}

.input:focus {
  outline: none;
  border: 1px solid #F8D94F;
  box-shadow: 0 0 10px #f8d94f83;
  transition: all 0.3s ease;
}

.inputLabel {
    color: white;
    margin-bottom: 5px;
    font-size: 14px;
}

.formButton {
    background-color: #F8D94F;
    width: 300px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #F8D94F;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.formButton:hover {
  background-color: #FFD700;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.title {
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 70px;
}

