.container {
  position: relative;
}

.hiddenInput {
  display: none;
}

.preview {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.editIcon {
  position: absolute;
  top: 95px;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.deleteIcon {
  position: absolute;
  top: 95px;
  right: 90px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}