.header {
  background-color: #6871EE;
  height: 145px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
}

.logo {
  height: 100px;
  width: 200px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navLink {
  background-color: #F8D94F;
  width: 156px;
  height: 48px;
  border-radius: 16px;
  border: 1px solid #F8D94F;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  line-height: 48px;
}

.navLinks {
  display: flex;
  gap: 20px;
  padding-right: 28px;
}